{% extends 'Navbar/projectnavbar.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block body %}
{% if messages %}
    {% for message in messages %}
        {% if message.tags %}
            <script>alert("{{ message }}");</script>
        {% endif %}
    {% endfor %}
{% endif %}
<div class="container1" style="display: flex; justify-content: center; align-items: center; height: 90vh;">
    <div class='bodycontainer' style="background-color: #fff; padding: 20px; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); width: 500px; text-align: center;">
        <h1 style="color: #333;">Register</h1>
        <br>
        <form method="post" action="{% url 'register1' %}">
            {% csrf_token %}
            <label>Username</label><br>
            <input type="text" name="username" placeholder="Enter Student ID/ Faculty ID" style="width: calc(100% - 20px); padding: 10px; margin: 8px 0; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box;"><br>
            <label>Password</label><br>
            <input type="password" name="password" style="width: calc(100% - 20px); padding: 10px; margin: 8px 0; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box;"><br>
            <label>Confirm Password</label><br>
            <input type="password" name="password1" style="width: calc(100% - 20px); padding: 10px; margin: 8px 0; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box;"><br><br>
            <button type="submit" name="submit" style="background-color: #4CAF50; color: white; padding: 10px 20px; margin: 8px 0; border: none; border-radius: 4px; cursor: pointer; width: 100%; font-size: 16px;">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
</body>
</html>
